<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Campus Connection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wesite yoga">
    <meta name="author" content="Ana Lima">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/"></script>
</head>

<body>
    <header>

        <div>

            <img class="img-logo" src="../static/img/Logo.png" alt="Logo site">

        </div>

        <div class="menuToggle" onclick="menuToggle();"></div>

        <ul class="navigation">
            <!-- <li><a href="#home" onclick="menuToggle();">Home</a></li> -->
            <li><a href="#sobre" onclick="menuToggle();">Sobre nós</a></li>
            <li><a href="#servicos" onclick="menuToggle();">Serviços</a></li>
            <li>{{mensagem}}</li>
        </ul>

    </header>

    <section class="topo" id="sobre">

        <div class="content">

            <div class="imagem-topo">

                <img src="../static/img/Imagem-topo.png" class="img-topo">

            </div>

            <div class="texto-topo">

                <h2><strong>Global Campus Connection
</strong></h2>

                <p>O "Global Campus Connection" é uma solução que busca resolver o problema comum da falta de acesso a informações sobre oportunidades de ensino no exterior. Este ambiente de fácil acesso fornece informações sobre universidades estrangeiras, contatos, processos seletivos, custos e questões de moradia, facilitando o interesse dos estudantes em programas de intercâmbio e incentivando a
                internacionalização de forma mais simples e conveniente.</p>

                <a href="#">Participe</a>
            </div>

        </div>

    </section>

    <section class="carousel" class="pt-5" id="servicos">

        <div class="container">
            <h2 class="text-center"><b>Escolha a Universidade</b></h2>

            <p>Estamos empolgados em ajudá-lo a explorar suas opções de ensino no exterior por meio do Global Campus Connection. Agora que você está familiarizado com nosso ambiente que fornece informações abrangentes sobre universidades estrangeiras, contatos, processos seletivos, custos e questões de moradia,
            é hora de selecionar a universidade que mais lhe interessa. </p>

            <div class="slider">
                <div class="owl-carousel">
                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img src="../static/img/carousel/firsr-image.jpg" alt="Universidade 1 image">
                        </div>
                        <h5 class="mb-0 text-center"><b>Universidade de Oxford</b></h5>
                        <p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img src="../static/img/carousel/second-image.jpg" alt="Universidade 2 image">
                        </div>
                        <h5 class="mb-0 text-center"><b>Universidade de Harvard</b></h5>
                        <p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img src="../static/img/carousel/third-image.jpg" alt=" Universidade 3 image">
                        </div>
                        <h5 class="mb-0 text-center"><b>Universidade de Massachusetts</b></h5>
                        <p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img src="../static/img/carousel/universidade-coimbra.jpg" alt="Universidade 4 image">
                        </div>
                        <h5 class="mb-0 text-center"><b>Universidade de Coimbra</b></h5>
                        <p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img src="../static/img/carousel/fifty-image.jpg" alt="Universidade 5 image">
                        </div>
                        <h5 class="mb-0 text-center"><b>Universidade de Toronto</b></h5>
                        <p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

    </section>


    <section class="pricing">

        <div>

            <h2>Preços</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos minima, tempora officiis exercitationem
                modi rerum nesciunt dolores et eius vero, quam accusamus pariatur? Rem, sed! Consequuntur autem ipsam
                expedita molestiae?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facilis optio placeat harum sed omnis,
                officiis, ducimus at repudiandae nisi dolores hic aliquam dicta nemo esse quis officia, odio delectus.
            </p>

            <div class="cards">

                <div class="card">

                    <h3>Newbie class</h3>

                    <p class="price">$00.00</p>

                    <img src="../static/img/quinta-imagem.png">

                    <p id="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    <a href="#">Register now</a>

                </div>
                <!--  -->
                <div class="card">

                    <h3>Advance class</h3>

                    <p class="price">$00.00</p>

                    <img src="../static/img/quinta-imagem.png">

                    <p id="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    <a href="#">Register now</a>

                </div>
                <!--  -->
                <div class="card">

                    <h3>Expert class</h3>

                    <p class="price">$00.00</p>

                    <img src="../static/img/quinta-imagem.png">

                    <p id="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    <a href="#">Register now</a>

                </div>
            </div>

        </div>

    </section>

    <section class="tutor">

        <img src="../static/img/Logo.png">

        <p>Desejamos a você muito sucesso em sua jornada de estudos no exterior e estamos ansiosos para ajudá-lo a alcançar seus objetivos acadêmicos e pessoais. Comece sua busca pela universidade dos seus sonhos agora!
<br>
Atenciosamente,
<br>
A Equipe do Global Campus Connection</p>

        <span> Campus Global Connection</span>

    </section>

    <section class="update">

        <h2>Não perca nossas atualizações</h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A quos neque temporibus, cumque eaque fugiat
            cupiditate tempora voluptatum sapiente distinctio odit, perferendis delectus voluptatibus eum! Debitis,
            molestiae quas? Fugit, nobis.</p>

        <div class="div-btn">
            <input type="email" placeholder="Email">

            <button type="button">Se inscreva!</button>
        </div>

    </section>

    <footer id="contato">

        <div class="content-footer">

            <div class="title">

                <h3>Global Campus Connection</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsum ducimus. Doloremque tempore
                    perspiciatis exercitationem quaerat corrupti quisquam maxime! Adipisci quisquam qui fugiat ab quae
                    perspiciatis recusandae voluptas, ea ullam!</p>

            </div>

            <div class="about">

                <h3>Sobre</h3>

                <p>História</p>
                <p>Nosso time</p>
                <p>Noticias e Guias</p>
                <p> Termos e condições</p>
                <p>Politica e privacidade</p>

            </div>

            <div class="services">

                <h3>Serviços</h3>

                <p>Como se inscrever</p>
                <p>Nosso projeto</p>
                <p>Status do requerimento</p>
                <p>Custos</p>

            </div>

            <div class="follow">

                <h3>Siga</h3>

                <a href="https://pt-br.facebook.com/"><img src="../static/img/Facebook.png"></a>
                <a href="https://twitter.com/"><img src="../static/img/Twitter.png"></a>
                <a href="https://www.instagram.com/"><img src="../static/img/Instagram.png"></a>
                <a href="https://www.whatsapp.com/"><img src="../static/img/WhatsApp.png"></a>

            </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/script.js" defer></script>

</body>

</html>
